.game-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    margin-right: -20px;
}


.game-list li {
    background-color: lightgray;
    margin-bottom: 20px;
    margin-right: 20px;
}
