.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(58,109,166);
}

.header li {
    padding: 5px;
}

.header li:hover {
    background-color: rgb(252,230,66);
    color: rgb(58,109,166)

}

.header-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.header-menu li:not(:last-child) {
    margin-right: 20px;
}

.header img {
    width: 43px;
    height: 43px;
}